title {
    font-family: fantasy;
}

body {
    font-family: 'Oswald', sans-serif;
    font-family: 'Roboto Mono', monospace;
    font-family: 'Roboto Slab', serif;
    ;

}

.sec1 {
    background-image: url(donation13.jpg);
    background-position: center;
    background-size: cover;
    height: 500px;
    width: 100%;
    background-repeat: no-repeat;
    background-color: aqua;
    margin-bottom: 150px;

}

.divs1 {
    text-align: center;
    color: antiquewhite;
}

.heading1 {
    font-size: 50px;
    color: aliceblue;
}

.buttons {
    font-size: 2em;
    background-color: tomato;
    text-decoration: none;
    font-family: fantasy;
    color: aliceblue;
    padding: 5px;
    font-weight: 200;
    border-radius: 5px;
}

.heading2 {
    font-size: 50px;
    color: black;

}

.divs2 {
    text-align: center;
    color: black;
}

.divs3 {
    display: inline-flex;
    margin-left: 25%;
    margin-right: 25%;
}

.boxes {
    margin: 25px;
    border: 35px solid whitesmoke;
    background-color: aliceblue;
    box-sizing: border-box;
}

#box {
    border: 35px solid rgb(221, 147, 147);
    background-color: rgba(175, 115, 115, 0.288);
}

input {
    width: 50%;
    border: none;
    border-bottom: 2px solid red;
    margin: 20px;
    margin-top: 70px;
    text-align: center;
}







.sec3 {
    text-align: center;
    height: 500px;
    width: 100%;
    margin: 20px;
    margin-bottom: 150px;
}

.bigdiv {

    height: 400px;
    display: inline-flex;
    width: 100%;
}

.divs4 {
    background-color: antiquewhite;
    height: 400px;
    width: 80%;
    box-shadow: 5px 5px 20px rgb(213, 233, 233);
    padding-left: 5%;
    padding-right: 5%;
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 20px;
}

h4 {
    font-size: 20px;
}


#smalldivs1 {
    background-color: azure;
}

#smalldivs2 {
    background-color: plum;
}

.sec4 {
    height: 500px;
    width: 100%;
    display: inline-flex;
}

.divs5 {

    height: 500px;
    width: 80%;
    padding-left: 5%;
    box-shadow: 10px 10px 30px rgb(240, 228, 228);
    font-size: 30px;
    padding: 30px;
    margin: 20px;
}

#picture2 {

    height: 500px;
    width: 100%;

}